body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5C5470;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #352F44;
    color: #FAF0E6;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.outcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FAF0E6;
}

.selection-content {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 35px; 
}
.buttons {
    padding: 20px 50px;
    background-color: #B9B4C7;
    border: none;
    border-radius: 3px;
}

.buttons:hover:enabled {
    background-color: #FAF0E6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 50%;
    width: 300px;
    padding: 30px;
    background-color: #352F44;
    text-align: center;
    transform: translate(-50%, -20%);
    color: #FAF0E6;
    border-radius: 10px;
}

.modal button {
    padding: 20px 50px;
    background-color: #B9B4C7;
    border: none;
    border-radius: 3px;
}

.modal button {
    padding: 20px 50px;
    background-color: #B9B4C7;
    border: none;
    border-radius: 3px;
}

.modal button:hover {
    background-color: #FAF0E6;
}

footer {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    background-color: #352F44;
    color: #FAF0E6;
}